@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700";

/*@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700";
*/
/*
NEED TO ADD A CSS LOADER TO 
*/

html, body, div, span, MediaPlayerlet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/
body {
  background: #272727;
  color: #Fff;
  font-family: 'Lato';
}

/*
#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
*/

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.panel {
  border: 0;
  margin-bottom: 25px;
}

.panel span {
  font-size: 30px;
}
.panel-primary>.panel-heading {
  background-color: #272727;
  border-color: #272727;
}
.panel-heading {
  box-shadow: 0 0px 0px rgba(0,0,0,.25), 0 0px 0px rgba(0,0,0,.22);
}

.img-responsive {
  height: 178px;
  margin-left:-20px;
}

.mainLogo {
  content: url("/img/mixitlog.png");
  height: 178px;
  margin-left:-20px;
}

#playerOne {
  
}

#playerTwo {

}

.MediaPlayer {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 280px;
  height: 460px;
}
.MediaPlayer .Artwork {
  width: 280px;
  height: 180px;
  background-size: cover;
  position: relative;
  background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjmpKTj-qDYAhUiTd8KHeeMAL8QjRwIBw&url=http%3A%2F%2Fwww.pak101.com%2Fc%2Ffunnypictures%2Fview%2F6166%2FAnimals%2FFunny_Monkey_Hairstyles&psig=AOvVaw0kS7dRo1Q7n28PdHX8jMLD&ust=1514146841132338");
}
.MediaPlayer .Artwork:hover .Controls {
  background: rgba(56, 130, 205, 0.8);
}
.MediaPlayer .Artwork .Controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  box-sizing: border-box;
  background: rgba(56, 130, 205, 0.3);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .125s ease;
  transition: background .125s ease;
}
.MediaPlayer .Artwork .Controls i:hover{
  cursor:pointer;
}
.MediaPlayer .Artwork .Controls .fa-play,
.MediaPlayer .Artwork .Controls .fa-pause {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.MediaPlayer .TrackList {
  width: 280px;
  height: 250px;
  background: #34587c;
  overflow-y: auto;
  position:relative;
}
.MediaPlayer .TrackList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
}
.MediaPlayer .TrackList li:hover, .MediaPlayer .TrackList li.selected {
  background: #27405a;
  cursor: pointer;
  color: #3882cd;
}
.MediaPlayer .TrackList li:hover .duration {
  opacity: 1;
}
.MediaPlayer .TrackList li .title {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: .12em;
}
.MediaPlayer .TrackList li .artist {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: .12em;
  color:yellow;
}
.MediaPlayer .TrackList li .duration {
  margin-left: auto;
  opacity: .25;
}
.MediaPlayer .MusicCredit, .MediaPlayer .MusicCredit a{
  color:white;
  padding:5px;
  text-align:center;
  
}
.MediaPlayer .MusicCredit a{
  color: #D90368;
}

.MediaPlayer .TrackListTwo li.selected {
  background: #fff;
  cursor: pointer;
  color: #3882cd;
}