@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700";

body {
  background: -webkit-linear-gradient(bottom, #15181b 0%, #1d1f23 100%) no-repeat fixed;
  color: #fff;
  font-family: 'Lato';
  max-width: 100%;
  overflow-x: hidden;
}

.img-responsive {
  height: 168px;
  margin-left:-20px;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 5px;
  background-image: url("/images/welcomebg.png");
  background-repeat: no-repeat;
  background-size: 951px 228px;
}

.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
  margin-left: 200px;
  margin-top: -7px;

}

.top-bar-right {
  float: right;
  margin-right: 40px;
  margin-top: -5px;
}

.top-bar a,
.nav a {
  margin: 0 8px;
   font-size: 18px;
}

#logoutText {
  font-family: Lato;
}

#footerText {
  font-family: Lato;
}

.fa-user {
  font-size: 18px;
}

.fa-user:hover {
  color: #f6f83d;
}

#loginContainer {
  width: 500px !important;
  text-align: center;
  margin-bottom: 30px;
}

#loginButton {
  background-color: #337ab7 !important;
}

.card-heading {
  padding: 16px;

}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

#mixingBoard {
  background: #292c30;
  border-radius: 4px;
  box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5), 0px 2px 5px rgba(220,255,255,0.15);
  margin: 0 auto;
  min-height: 412px;
  padding: 12px 46px;
  margin-bottom: 70px;
}

.SelectTypeDropdown, .SongDropdown, .BeatsDropdown, .GenreDropdown {
  cursor: pointer;
  position: absolute;
  margin-left: -4px;
  margin-top: 5px;
  width: 100%;
  background-color: #337ab7;
  color: #fff;
  font-size: 12px;
}

.Dropdown-menu {
  z-index: 1 !important;
  position: absolute;
  background-color: #337ab7;
  width: 100%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 10px;

}

.Dropdown-option:hover, .Dropdown-placeholder:hover {
  color: #f6f83d;
}

.MediaPlayer {
  background: #23262a;
  border-radius: 3px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.35);
  margin: 16px 12px;
  padding: 16px 4px 16px 4px;
  position: relative;
  width: 100%;

}
.MediaPlayer .Artwork {
  height: 80px;
  background-size: cover;
  position: relative;
}

.MediaPlayer .Artwork:hover .Controls {
}
.MediaPlayer .Artwork .Controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .125s ease;
  transition: background .125s ease;
}
.MediaPlayer .Artwork .Controls i:hover{
  cursor:pointer;
}

.MediaPlayer .Artwork .Controls .play,
.MediaPlayer .Artwork .Controls .pause {
  width: 70px;
  cursor:pointer;
}

.btn {
  box-sizing: border-box;
  background: rgba(66,71,77,1);
  background: -moz-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,71,77,1)), color-stop(100%, rgba(47,51,55,1)));
  background: -webkit-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  background: -o-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  background: -ms-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  background: linear-gradient(to bottom, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42474d', endColorstr='#2f3337', GradientType=0 );
  box-shadow: 0 0 2px rgba(0,0,0,0.8);
  color: #00cff1;
  cursor: pointer;
  font-size: 12px;
  height: 27px;
  text-shadow: 0 1px 1px rgba(200,200,240,.55);
  padding-top: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.btn:hover, .fa-fast-forward, .fa-fast-backward:hover, .fa-fast-forward:hover {
  color: #f6f83d;
}

.fa-fast-forward, .fa-fast-backward {
  font-size: 20px;
}

.inset-text-effect {
  font-size: 12px;
}

.fa-fast-forward, .fa-fast-backward, .inset-text-effect {
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
  color: #54595f;
  color: -moz-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,71,77,1)), color-stop(100%, rgba(47,51,55,1)));
  color: -webkit-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  color: -o-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  color: -ms-linear-gradient(top, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  color: linear-gradient(to bottom, rgba(66,71,77,1) 0%, rgba(47,51,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42474d', endColorstr='#2f3337', GradientType=0 );

}


.MediaPlayer .TrackList {
  width: 280px;
  height: 250px;
  background: #34587c;
  overflow-y: auto;
  position:relative;
}
.MediaPlayer .TrackList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
}
.MediaPlayer .TrackList li:hover, .MediaPlayer .TrackList li.selected {
  background: #27405a;
  cursor: pointer;
  color: #3882cd;
}
.MediaPlayer .TrackList li:hover .duration {
  opacity: 1;
}
.MediaPlayer .TrackList li .title {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: .12em;
}
.MediaPlayer .TrackList li .artist {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: .12em;
  color:yellow;
}
.MediaPlayer .TrackList li .duration {
  margin-left: auto;
  opacity: .25;
}
.MediaPlayer .MusicCredit, .MediaPlayer .MusicCredit a{
  color:white;
  padding:5px;
  text-align:center;
  
}
.MediaPlayer .MusicCredit a{
  color: #D90368;
}

.MediaPlayer .TrackListTwo li.selected {
  background: #fff;
  cursor: pointer;
  color: #3882cd;
}

#footer {
  text-align: center;
  padding-bottom: 30px;
}